<html>
<div class="c5190">GRACHAR TESTING
</div>
<form class="form">
  <div class="form-group">
    <label class="label">Name</label>
    <input placeholder="Type here your name" name="name" class="input"/>
  </div>
  <div class="form-group">
    <label class="label">Email</label>
    <input type="email" placeholder="Type here your email" name="email" class="input"/>
  </div>
  <label class="label">Website URL</label>
  <input name="site-url" class="input"/>
  <div class="form-group">
    <label class="label">Comments</label>
    <textarea name="comments" class="textarea"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="button">Send</button>
  </div>
</form>
</html>